<a href="https://colab.research.google.com/github/thitirat-mnc/Data-Engineer-Workshop-R2DE/blob/main/Data_Collection_with_Python_MySQL_Database_%26_REST_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **อ่านข้อมูลจาก MySQL database**

## 1. Install PyMySQL package for connecting with MySQL database

In [ ]:
! pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

### **การสร้าง connection ต้องอาศัย config ต่าง ๆ เช่น Host (IP address), Username, Password ในการเชื่อมต่อ**

In [ ]:
class Config:
  MYSQL_HOST = ''
  MYSQL_PORT = 3306              # default สำหรับ port MySQL
  MYSQL_USER = ''
  MYSQL_PASSWORD = ''
  MYSQL_DB = ''
  MYSQL_CHARSET = ''

In [ ]:
# ทดลอง print จาก config
print(Config.MYSQL_PORT)

3306

## 2. Connect to DB
หลังจากที่มี Credential ของ database แล้วก็สร้าง connection โดยการ connect ไปที่ DB ด้วย Config ของเรา

In [ ]:
import pymysql

# Connect to the database
connection = pymysql.connect(host=Config.MYSQL_HOST,
                             port=Config.MYSQL_PORT,
                             user=Config.MYSQL_USER,
                             password=Config.MYSQL_PASSWORD,
                             db=Config.MYSQL_DB,
                             charset=Config.MYSQL_CHARSET,
                             cursorclass=pymysql.cursors.DictCursor)

cursors เป็น object ของ database ที่เอาไว้ใช้ในการเข้าถึง data การใช้งานจึงเป็นไปตามการออกแบบของแต่ละ database  ในกรณีนี้ก็จะใช้อ้างอิงตาม documentation ของ PyMySQL แล้วสามารถอ้างอิง                                                                                                                                                                                                                                                                                            โค้ดตามนั้นได้เลย https://pymysql.readthedocs.io/en/latest/user/examples.html

In [ ]:
connection

ตัวแปร connection นี้ เราได้ connect ต่อเข้ากับ database เอาไว้แล้ว
## 3. List Tables
เรามาลองดูกันว่ามี table อะไรในนั้นบ้าง

In [ ]:
# list all tables ด้วย SQL คำสั่ง show tables;
cursor = connection.cursor()
cursor.execute("show tables;")
tables = cursor.fetchall()
cursor.close()
print(tables)

[{'Tables_in_r2de2': 'audible_data'}, {'Tables_in_r2de2': 'audible_transaction'}]

`show tables` เป็น SQL ในการลิสต์ table ออกมา

การคิวรี่ database ทุกครั้งจะต้องสร้าง `cursor` ขึ้นมาเพื่อ query SQL นั้น แล้วก็ปิด cursor ทุกครั้งหลังจบ

ดังนั้นนิยมใช้คำสั่ง `with` ในการจัดการสร้าง cursor ขึ้นมา เมื่อจบคำสั่ง cursor จะถูก close ไปเองโดยอัตโนมัติเมื่อออกนอก scope ของ `with`

## 4. Query Table

การใช้ `with connection.cursor() as cursor:` จะจัดการ scope ของการเรียกใช้งาน cursor ให้  ในที่นี้ถือว่าได้สร้างตัวแปร cursor แล้วในคำสั่ง with และ ไม่ต้องใช้ cursor.close()

In [ ]:
# ใข้ with statement แทน cursor.close()

with connection.cursor() as cursor:
  cursor.execute("SELECT * FROM audible_data;")
  result = cursor.fetchall() #read all data from database

print("number of rows: ", len(result))

number of rows:  2269

In [ ]:
result

In [ ]:
# ดูประเภทของ result
type(result)

list

ประเภทของตัวแปร คือ list (เป็น list ของ dictionary แต่ละบรรทัด)

Row เยอะแบบนี้ print ออกมาดูไม่ได้

## 5. Convert to Pandas

In [ ]:
import pandas as pd

In [ ]:
audible_data = pd.DataFrame(result)

In [ ]:
type(audible_data)

pandas.core.frame.DataFrame

In [ ]:
audible_data

**ข้อสังเกต**
ตัวเลขข้างหน้าสุดของ pandas ที่เป็น 0 ถึง (จำนวน rows - 1) คือ **index**

index คือ สิ่งที่ pandas เอาไว้ใช้เก็บ key ในแต่ละ row เอาไว้ โดยถ้าไม่กำหนด index มาก็จะสร้างให้เหมือนในตัวอย่าง

แต่ในที่นี้เรามี Book_ID ที่เป็นตัวเลย unique ประจำแถวอยู่แล้ว สามารถกำหนด index เป็น Book_ID ได้ เพื่อลดความซ้ำซ้อน

In [ ]:
audible_data = audible_data.set_index("Book_ID")

In [ ]:
audible_data

,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price
Book_ID,,,,,,,,,,
1,Bamboozled by Jesus,How God Tricked Me into the Life of My Dreams,Yvonne Orji,Yvonne Orji,6 hrs and 31 mins,Unabridged Audiobook,Biographies & Memoirs,5,47.0,$29.65
2,Sixth Realm Part 1,"A LitRPG Fantasy Series (The Ten Realms, Book 6)",Michael Chatfield,Neil Hellegers,13 hrs and 33 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.5,98.0,$24.95
3,Go Tell the Bees That I Am Gone,"Outlander, Book 9",Diana Gabaldon,Davina Porter,27 hrs and 30 mins,Unabridged Audiobook,Science Fiction & Fantasy,None,NaN,$41.99
4,How the Word Is Passed,A Reckoning with the History of Slavery Across...,Clint Smith,Clint Smith,10 hrs and 7 mins,Unabridged Audiobook,History,None,NaN,$29.65
5,The Devil May Dance,A Novel,Jake Tapper,Rob Shapiro,10 hrs and 12 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.5,108.0,$29.65
...,...,...,...,...,...,...,...,...,...,...
2265,Kama Sutra,Become a Master of the Art of Love Making. Tan...,Eva Becker,ChasMandala,3 hrs and 29 mins,Unabridged Audiobook,Erotica,5,203.0,$14.95
2266,Meditación Práctica para Principiantes [Prac...,Una guía para principiantes para aliviar la an...,Taylor Knox,William Ditilio,3 hrs and 14 mins,Unabridged Audiobook,Health & Wellness,5,203.0,$14.95
2267,Forgotten,"The Untold Story of D-day's Black Heroes, at H...",Linda Hervieux,Ron Butler,9 hrs and 33 mins,Unabridged Audiobook,History,4.6,70.0,$24.95
2268,The Missing,None,Daisy Pearce,Karen Cass,10 hrs and 18 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.2,141.0,$30.09
2269,Becoming,None,Michelle Obama,Michelle Obama,19 hrs and 3 mins,Unabridged Audiobook,Biographies & Memoirs,4.9,167195.0,$35.71

เอา Book_ID มาเป็น index

ถ้าไม่อยาก set_index() ทีหลังก็ สามารถใส่ `index_col="Book_ID"` เพิ่มเข้าไปในบรรทัดที่สร้าง DataFrame เลยได้
```
audible_data = pd.DataFrame(result, index_col="Book_ID")
```

## 6. Query โดยใช้ Pandas

แต่ว่า เนื่องจากว่า table เรามีสอง table เรามาดูอีกวิธีหนึ่งที่สะดวกขึ้น โดยใช้ `read_sql()` ของ pandas

In [ ]:
sql = "SELECT * FROM audible_transaction"
audible_transaction = pd.read_sql(sql, connection)
audible_transaction

<ipython-input-16-be90fe0ebbf2>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  audible_transaction = pd.read_sql(sql, connection)

                  timestamp   user_id  book_id                   country
0       2021-05-01 00:00:01  ad8eca41     1584                  Portugal
1       2021-05-01 00:00:03  561b26c1      829  United States of America
2       2021-05-01 00:00:04  81f149e5     1391                     Japan
3       2021-05-01 00:00:07  4f218413     1586                    Taiwan
4       2021-05-01 00:00:18  a4066781      300  United States of America
...                     ...       ...      ...                       ...
1998816 2021-07-31 23:59:47  72da1411      600                  Portugal
1998817 2021-07-31 23:59:48  620c27c8      462                Montenegro
1998818 2021-07-31 23:59:55  84fe88ab     1656  United States of America
1998819 2021-07-31 23:59:57  fd6cc4fc      522  United States of America
1998820 2021-07-31 23:59:59  9f4d5e3b      110  United States of America

[1998821 rows x 4 columns]

# **Join table: audible_transaction & audible_data**

ใน transaction dataframe เราจะไม่เห็นราคาและชื่อสินค้า ถ้าเราอยากรู้ว่าแต่ละ transaction มีจำนวนเงินเท่าไร จึงต้อง merge data รวมกับ dataframe ของ audible_data

คีย์ที่ใช้ในการ merge คือ
- audible_transaction: `book_id`
- audible_data: `Book_ID`

In [ ]:
transaction = audible_transaction.merge(audible_data, how="left", left_on="book_id", right_on="Book_ID")

ผลลัพธ์จากการ join

In [ ]:
transaction

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,$35.00
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,$19.59
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,$31.50
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,$19.95
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,$17.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998816,2021-07-31 23:59:47,72da1411,600,Portugal,The Time of Contempt,"The Witcher, Book 2",Andrzej Sapkowski,Peter Kenny,11 hrs and 55 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,14344.0,$25.08
1998817,2021-07-31 23:59:48,620c27c8,462,Montenegro,Endurance,Shackleton's Incredible Voyage,Alfred Lansing,Simon Prebble,10 hrs and 20 mins,Unabridged Audiobook,History,4.7,18764.0,$24.95
1998818,2021-07-31 23:59:55,84fe88ab,1656,United States of America,The Spy and the Traitor,The Greatest Espionage Story of the Cold War,Ben Macintyre,John Lee,13 hrs and 20 mins,Unabridged Audiobook,Biographies & Memoirs,4.8,7150.0,$31.95
1998819,2021-07-31 23:59:57,fd6cc4fc,522,United States of America,Lilac Girls,A Novel,Martha Hall Kelly,Cassandra Campbell,17 hrs and 30 mins,Unabridged Audiobook,Literature & Fiction,4.7,19401.0,$31.50
1998820,2021-07-31 23:59:59,9f4d5e3b,110,United States of America,Unfu*k Yourself,Get Out of Your Head and into Your Life,Gary John Bishop,Gary John Bishop,3 hrs and 24 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.6,73022.0,$20.52


*   ตอนนี้เราได้ข้อมูล transaction มาแล้ว แต่ว่าข้อมูล price เป็น USD (ยังเป็น string ที่มี $ ด้วย)


*   อ่าน data จาก API แปลงค่าเงิน เพื่อแปลงเป็นเงินบาท ตาม rate ของแต่ละวันในอดีต



---


# **Get data from REST API**

Package `requests` ใช้เรียก REST API

In [ ]:
import requests

ลองคลิกดูผลลัพธ์ผ่าน web browser ได้ [Currency conversion API](https://r2de2-workshop-vmftiryt6q-ts.a.run.app/usd_thb_conversion_rate)  การที่สามารถเปิดผ่าน web browser โดยตรงได้ มักจะเป็นการใช้งาน API แบบ **GET**

ผลลัพธ์ที่ return กลับมาจะเป็นประเภท JSON
จึงต้องใช้ package `json` (built-in) เพื่อโหลดข้อมูลเป็น dictionary หรือสามารถใช้ `.json()` ของ request เพื่อแปลงได้

## Requests library
สามารถศึกษาวิธีการสร้าง request และการใช้งาน package `requests` [ได้ที่นี่](https://requests.readthedocs.io/en/master/)

In [ ]:
API_KEY = ""

In [ ]:
import requests

def fetch_data():
    url = "https://rest.coinapi.io/v1/exchangerate/BTC/USD"
    headers = {
        "X-CoinAPI-Key": API_KEY # Replace with your API key
    }
    response = requests.get(url, headers=headers)
    return response.json()

print(fetch_data())

{'time': '2023-09-14T11:46:05.0000000Z', 'asset_id_base': 'BTC', 'asset_id_quote': 'USD', 'rate': 26397.73861607348}

In [ ]:
url = "https://r2de2-workshop-vmftiryt6q-ts.a.run.app/usd_thb_conversion_rate"
# ต้องการผลลัพธ์ให้อยู่ในรูปแบบของ dictionary ที่ชื่อว่า result_conversion_rate
r = requests.get(url)
result_conversion_rate = r.json()

In [ ]:
url = "https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/od/rates_of_exchange?fields=country_currency_desc,exchange_rate, record_date&filter=record_date:gte:2015-01-01"
# ต้องการผลลัพธ์ให้อยู่ในรูปแบบของ dictionary ที่ชื่อว่า result_conversion_rate
r = requests.get(url)
r.headers['content-type']

'application/json'

In [ ]:
result = r.json()
result

{'data': [{'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '60.26',
   'record_date': '2015-06-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '63.8',
   'record_date': '2015-09-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '68.45',
   'record_date': '2016-03-31'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '68.22',
   'record_date': '2016-06-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '67.9',
   'record_date': '2015-12-31'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '57.34',
   'record_date': '2015-03-31'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '69.32',
   'record_date': '2017-12-31'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '65.15',
   'record_date': '2017-09-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '67.95',
   'record_date': '2017-06-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '65.35',
   'record_date': '2016-09-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '74.576',
   'record_date': '2018-12-31'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '66.5',
   'record_date': '2016-12-31'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '71.55',
   'record_date': '2018-06-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '75.1',
   'record_date': '2018-09-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '69.0',
   'record_date': '2018-03-31'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '77.53',
   'record_date': '2019-09-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '74.78',
   'record_date': '2019-03-31'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '79.912',
   'record_date': '2019-06-30'},
  {'country_currency_desc': 'AFGHANISTAN-AFGHANI',
   'exchange_rate': '67.55',
   'record_date': '2017-03-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '125.03',
   'record_date': '2015-06-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '123.99',
   'record_date': '2015-09-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '121.35',
   'record_date': '2016-03-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '123.16',
   'record_date': '2016-06-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '125.54',
   'record_date': '2015-12-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '130.25',
   'record_date': '2015-03-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '110.6',
   'record_date': '2017-12-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '113.15',
   'record_date': '2017-09-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '116.0',
   'record_date': '2017-06-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '122.77',
   'record_date': '2016-09-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '107.05',
   'record_date': '2018-12-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '128.25',
   'record_date': '2016-12-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '107.75',
   'record_date': '2018-06-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '108.9',
   'record_date': '2018-09-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '105.35',
   'record_date': '2018-03-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '111.35',
   'record_date': '2019-09-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '111.24',
   'record_date': '2019-03-31'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '107.6',
   'record_date': '2019-06-30'},
  {'country_currency_desc': 'ALBANIA-LEK',
   'exchange_rate': '126.75',
   'record_date': '2017-03-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '97.38',
   'record_date': '2015-03-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '98.592',
   'record_date': '2015-06-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '105.739',
   'record_date': '2015-09-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '108.301',
   'record_date': '2016-03-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '109.866',
   'record_date': '2016-06-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '106.878',
   'record_date': '2015-12-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '114.659',
   'record_date': '2017-12-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '113.007',
   'record_date': '2017-09-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '107.643',
   'record_date': '2017-06-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '109.35',
   'record_date': '2016-09-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '117.898',
   'record_date': '2018-12-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '110.018',
   'record_date': '2016-12-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '117.454',
   'record_date': '2018-06-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '117.935',
   'record_date': '2018-09-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '113.798',
   'record_date': '2018-03-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '120.43',
   'record_date': '2019-09-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '119.06',
   'record_date': '2019-03-31'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '118.571',
   'record_date': '2019-06-30'},
  {'country_currency_desc': 'ALGERIA-DINAR',
   'exchange_rate': '109.592',
   'record_date': '2017-03-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '104.0',
   'record_date': '2015-03-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '120.0',
   'record_date': '2015-06-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '145.0',
   'record_date': '2015-09-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '160.0',
   'record_date': '2016-03-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '170.0',
   'record_date': '2016-06-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '145.0',
   'record_date': '2015-12-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '170.0',
   'record_date': '2017-12-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '170.0',
   'record_date': '2017-09-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '170.0',
   'record_date': '2017-06-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '170.0',
   'record_date': '2016-09-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '310.0',
   'record_date': '2018-12-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '170.0',
   'record_date': '2016-12-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '245.0',
   'record_date': '2018-06-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '290.0',
   'record_date': '2018-09-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '215.0',
   'record_date': '2018-03-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '365.0',
   'record_date': '2019-09-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '310.0',
   'record_date': '2019-03-31'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '340.0',
   'record_date': '2019-06-30'},
  {'country_currency_desc': 'ANGOLA-KWANZA',
   'exchange_rate': '170.0',
   'record_date': '2017-03-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2015-03-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2015-06-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2015-09-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2016-03-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2016-06-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2015-12-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2017-12-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2017-09-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2017-06-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2016-09-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2018-12-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2018-06-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2016-12-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2018-09-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2018-03-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2019-09-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2019-03-31'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2019-06-30'},
  {'country_currency_desc': 'ANTIGUA-BARBUDA-E. CARIBBEAN DOLLAR',
   'exchange_rate': '2.7',
   'record_date': '2017-03-31'},
  {'country_currency_desc': 'ARGENTINA-PESO',
   'exchange_rate': '8.81',
   'record_date': '2015-03-31'},
  {'country_currency_desc': 'ARGENTINA-PESO',
   'exchange_rate': '9.085',
   'record_date': '2015-06-30'},
  {'country_currency_desc': 'ARGENTINA-PESO',
   'exchange_rate': '9.42',
   'record_date': '2015-09-30'},
  {'country_currency_desc': 'ARGENTINA-PESO',
   'exchange_rate': '14.593',
   'record_date': '2016-03-31'},
  {'country_currency_desc': 'ARGENTINA-PESO',
   'exchange_rate': '14.951',
   'record_date': '2016-06-30'}],
 'meta': {'count': 100,
  'labels': {'country_currency_desc': 'Country - Currency Description',
   'exchange_rate': 'Exchange Rate',
   'record_date': 'Record Date'},
  'dataTypes': {'country_currency_desc': 'STRING',
   'exchange_rate': 'NUMBER',
   'record_date': 'DATE'},
  'dataFormats': {'country_currency_desc': 'String',
   'exchange_rate': '10.2',
   'record_date': 'YYYY-MM-DD'},
  'total-count': 6389,
  'total-pages': 64},
 'links': {'self': '&page%5Bnumber%5D=1&page%5Bsize%5D=100',
  'first': '&page%5Bnumber%5D=1&page%5Bsize%5D=100',
  'prev': None,
  'next': '&page%5Bnumber%5D=2&page%5Bsize%5D=100',
  'last': '&page%5Bnumber%5D=64&page%5Bsize%5D=100'}}

In [ ]:
result_conversion_rate

{'conversion_rate': {'2021-08-12': 33.084,
  '2021-08-11': 33.145,
  '2021-08-10': 33.46,
  '2021-08-09': 33.464,
  '2021-08-08': 33.395,
  '2021-08-07': 33.422,
  '2021-08-06': 33.45,
  '2021-08-05': 33.263,
  '2021-08-04': 33.137,
  '2021-08-03': 33.022,
  '2021-08-02': 32.957,
  '2021-08-01': 32.895,
  '2021-07-31': 32.887,
  '2021-07-30': 32.887,
  '2021-07-29': 32.87,
  '2021-07-28': 32.82,
  '2021-07-27': 32.937,
  '2021-07-26': 32.929,
  '2021-07-25': 32.94,
  '2021-07-24': 32.963,
  '2021-07-23': 32.928,
  '2021-07-22': 32.887,
  '2021-07-21': 32.857,
  '2021-07-20': 32.829,
  '2021-07-19': 32.854,
  '2021-07-18': 32.807,
  '2021-07-17': 32.795,
  '2021-07-16': 32.783,
  '2021-07-15': 32.686,
  '2021-07-14': 32.605,
  '2021-07-13': 32.654,
  '2021-07-12': 32.664,
  '2021-07-11': 32.506,
  '2021-07-10': 32.482,
  '2021-07-09': 32.512,
  '2021-07-08': 32.534,
  '2021-07-07': 32.334,
  '2021-07-06': 32.271,
  '2021-07-05': 32.112,
  '2021-07-04': 32.136,
  '2021-07-03': 32.125,
  '2021-07-02': 32.126,
  '2021-07-01': 32.073,
  '2021-06-30': 32.029,
  '2021-06-29': 32.108,
  '2021-06-28': 31.918,
  '2021-06-27': 31.785,
  '2021-06-26': 31.816,
  '2021-06-25': 31.816,
  '2021-06-24': 31.898,
  '2021-06-23': 31.825,
  '2021-06-22': 31.681,
  '2021-06-21': 31.617,
  '2021-06-20': 31.461,
  '2021-06-19': 31.437,
  '2021-06-18': 31.439,
  '2021-06-17': 31.422,
  '2021-06-16': 31.297,
  '2021-06-15': 31.162,
  '2021-06-14': 31.117,
  '2021-06-13': 31.077,
  '2021-06-12': 31.074,
  '2021-06-11': 31.092,
  '2021-06-10': 31.14,
  '2021-06-09': 31.167,
  '2021-06-08': 31.202,
  '2021-06-07': 31.176,
  '2021-06-06': 31.133,
  '2021-06-05': 31.125,
  '2021-06-04': 31.125,
  '2021-06-03': 31.209,
  '2021-06-02': 31.108,
  '2021-06-01': 31.169,
  '2021-05-31': 31.193,
  '2021-05-30': 31.238,
  '2021-05-29': 31.252,
  '2021-05-28': 31.257,
  '2021-05-27': 31.297,
  '2021-05-26': 31.281,
  '2021-05-25': 31.328,
  '2021-05-24': 31.323,
  '2021-05-23': 31.37,
  '2021-05-22': 31.361,
  '2021-05-21': 31.361,
  '2021-05-20': 31.378,
  '2021-05-19': 31.413,
  '2021-05-18': 31.42,
  '2021-05-17': 31.492,
  '2021-05-16': 31.365,
  '2021-05-15': 31.33,
  '2021-05-14': 31.33,
  '2021-05-13': 31.344,
  '2021-05-12': 31.304,
  '2021-05-11': 31.158,
  '2021-05-10': 31.107,
  '2021-05-09': 31.033,
  '2021-05-08': 31.042,
  '2021-05-07': 31.042,
  '2021-05-06': 31.226,
  '2021-05-05': 31.13,
  '2021-05-04': 31.188,
  '2021-05-03': 31.132,
  '2021-05-02': 31.122,
  '2021-05-01': 31.14,
  '2021-04-30': 31.139,
  '2021-04-29': 31.197,
  '2021-04-28': 31.344,
  '2021-04-27': 31.355,
  '2021-04-26': 31.427,
  '2021-04-25': 31.421,
  '2021-04-24': 31.411,
  '2021-04-23': 31.412,
  '2021-04-22': 31.378,
  '2021-04-21': 31.3,
  '2021-04-20': 31.281,
  '2021-04-19': 31.203,
  '2021-04-18': 31.226,
  '2021-04-17': 31.204,
  '2021-04-16': 31.203,
  '2021-04-15': 31.165,
  '2021-04-14': 31.329,
  '2021-04-13': 31.496,
  '2021-04-12': 31.482,
  '2021-04-11': 31.462,
  '2021-04-10': 31.454,
  '2021-04-09': 31.451,
  '2021-04-08': 31.433,
  '2021-04-07': 31.387,
  '2021-04-06': 31.288,
  '2021-04-05': 31.342,
  '2021-04-04': 31.244,
  '2021-04-03': 31.256,
  '2021-04-02': 31.29,
  '2021-04-01': 31.194}}

มาเช็คประเภทข้อมูล

In [ ]:
print(type(result_conversion_rate))
assert isinstance(result_conversion_rate, dict) #เช็คว่าเป็นจริงหรือไม่

<class 'dict'>

 ## Convert to Pandas
 แปลงกันอีกครั้งหนึ่ง ʕ•́ᴥ•̀ʔ

In [ ]:
conversion_rate = pd.DataFrame(result_conversion_rate)

In [ ]:
result_pd = pd.DataFrame(result)

In [ ]:
result

,ticker,queryCount,resultsCount,adjusted,results,status,request_id,count,next_url
0,AAPL,126,27,True,"{'v': 333335284.0, 'vw': 132.1096, 'o': 130.46...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
1,AAPL,126,27,True,"{'v': 271766495.0, 'vw': 135.9177, 'o': 134.83...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
2,AAPL,126,27,True,"{'v': 338647615.0, 'vw': 142.591, 'o': 138.12,...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
3,AAPL,126,27,True,"{'v': 480230974.0, 'vw': 148.5017, 'o': 144.95...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
4,AAPL,126,27,True,"{'v': 330096887.0, 'vw': 152.2182, 'o': 152.57...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
5,AAPL,126,27,True,"{'v': 316801848.0, 'vw': 153.4587, 'o': 150.95...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
6,AAPL,126,27,True,"{'v': 213087040.0, 'vw': 148.2712, 'o': 150.2,...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
7,AAPL,126,27,True,"{'v': 274029559.0, 'vw': 147.5367, 'o': 147.71...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
8,AAPL,126,27,True,"{'v': 313291919.0, 'vw': 152.346, 'o': 153.785...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
9,AAPL,126,27,True,"{'v': 408822433.0, 'vw': 153.1424, 'o': 147.80...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
10,AAPL,126,27,True,"{'v': 348487414.0, 'vw': 158.6593, 'o': 155.07...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
11,AAPL,126,27,True,"{'v': 267648190.0, 'vw': 160.74, 'o': 159.94, ...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
12,AAPL,126,27,True,"{'v': 200156349.0, 'vw': 164.7011, 'o': 164.27...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
13,AAPL,126,27,True,"{'v': 263030790.0, 'vw': 162.6789, 'o': 161.42...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
14,AAPL,126,27,True,"{'v': 249245409.0, 'vw': 166.0661, 'o': 165.09...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
15,AAPL,126,27,True,"{'v': 255764320.0, 'vw': 166.1709, 'o': 165, '...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
16,AAPL,126,27,True,"{'v': 360606274.0, 'vw': 169.7598, 'o': 169.28...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
17,AAPL,126,27,True,"{'v': 250020223.0, 'vw': 172.9674, 'o': 172.48...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
18,AAPL,126,27,True,"{'v': 258331254.0, 'vw': 173.3676, 'o': 173.16...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
19,AAPL,126,27,True,"{'v': 248752181.0, 'vw': 173.2264, 'o': 173.98...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
20,AAPL,126,27,True,"{'v': 286487806.0, 'vw': 178.7755, 'o': 176.96...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
21,AAPL,126,27,True,"{'v': 347592487.0, 'vw': 180.4077, 'o': 182.63...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
22,AAPL,126,27,True,"{'v': 333669297.0, 'vw': 184.3739, 'o': 181.27...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
23,AAPL,126,27,True,"{'v': 203672462.0, 'vw': 185.5136, 'o': 184.41...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
24,AAPL,126,27,True,"{'v': 281452721.0, 'vw': 189.5849, 'o': 186.83...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
25,AAPL,126,27,True,"{'v': 170268080.0, 'vw': 191.5354, 'o': 193.78...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...
26,AAPL,126,27,True,"{'v': 106550282.0, 'vw': 188.126, 'o': 189.26,...",OK,44692aed917a0adf61066103715d29e4,27,https://api.polygon.io/v2/aggs/ticker/AAPL/ran...

แปลงจาก index เป็น column date ธรรมดาเพื่อความสะดวกในการ join กับ table transaction

In [ ]:
conversion_rate = conversion_rate.reset_index().rename(columns={"index": "date"})
conversion_rate[:3]

         date  conversion_rate
0  2021-04-01           31.194
1  2021-04-02           31.290
2  2021-04-03           31.256

# **Join the data**


*   นำข้อมูลการซื้อขายและข้อมูล Rate การแปลงค่าเงิน จากทั้งสอง Dataframe มารวมกัน ผ่าน column date ใน transaction และ date ใน conversion_rate

*   สังเกตดี ๆ แล้วจะพบว่า timestamp ใน retail จะเก็บข้อมูลในรูปแบบ timestamp ส่วน date ใน conversion_rate จะเก็บข้อมูลในรูปแบบ date (ที่เป็น string) เท่านั้น

In [ ]:
transaction

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,$35.00
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,$19.59
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,$31.50
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,$19.95
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,$17.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998816,2021-07-31 23:59:47,72da1411,600,Portugal,The Time of Contempt,"The Witcher, Book 2",Andrzej Sapkowski,Peter Kenny,11 hrs and 55 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,14344.0,$25.08
1998817,2021-07-31 23:59:48,620c27c8,462,Montenegro,Endurance,Shackleton's Incredible Voyage,Alfred Lansing,Simon Prebble,10 hrs and 20 mins,Unabridged Audiobook,History,4.7,18764.0,$24.95
1998818,2021-07-31 23:59:55,84fe88ab,1656,United States of America,The Spy and the Traitor,The Greatest Espionage Story of the Cold War,Ben Macintyre,John Lee,13 hrs and 20 mins,Unabridged Audiobook,Biographies & Memoirs,4.8,7150.0,$31.95
1998819,2021-07-31 23:59:57,fd6cc4fc,522,United States of America,Lilac Girls,A Novel,Martha Hall Kelly,Cassandra Campbell,17 hrs and 30 mins,Unabridged Audiobook,Literature & Fiction,4.7,19401.0,$31.50
1998820,2021-07-31 23:59:59,9f4d5e3b,110,United States of America,Unfu*k Yourself,Get Out of Your Head and into Your Life,Gary John Bishop,Gary John Bishop,3 hrs and 24 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.6,73022.0,$20.52

In [ ]:
# ก็อปปี้ column timestamp เก็บเอาไว้ใน column ใหม่ชื่อ date เพื่อที่จะแปลงวันที่เป็น date เพื่อที่จะสามารถนำมา join กับข้อมูลค่าเงินได้
transaction['date'] = transaction['timestamp']
transaction

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,date
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,$35.00,2021-05-01 00:00:01
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,$19.59,2021-05-01 00:00:03
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,$31.50,2021-05-01 00:00:04
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,$19.95,2021-05-01 00:00:07
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,$17.49,2021-05-01 00:00:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998816,2021-07-31 23:59:47,72da1411,600,Portugal,The Time of Contempt,"The Witcher, Book 2",Andrzej Sapkowski,Peter Kenny,11 hrs and 55 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,14344.0,$25.08,2021-07-31 23:59:47
1998817,2021-07-31 23:59:48,620c27c8,462,Montenegro,Endurance,Shackleton's Incredible Voyage,Alfred Lansing,Simon Prebble,10 hrs and 20 mins,Unabridged Audiobook,History,4.7,18764.0,$24.95,2021-07-31 23:59:48
1998818,2021-07-31 23:59:55,84fe88ab,1656,United States of America,The Spy and the Traitor,The Greatest Espionage Story of the Cold War,Ben Macintyre,John Lee,13 hrs and 20 mins,Unabridged Audiobook,Biographies & Memoirs,4.8,7150.0,$31.95,2021-07-31 23:59:55
1998819,2021-07-31 23:59:57,fd6cc4fc,522,United States of America,Lilac Girls,A Novel,Martha Hall Kelly,Cassandra Campbell,17 hrs and 30 mins,Unabridged Audiobook,Literature & Fiction,4.7,19401.0,$31.50,2021-07-31 23:59:57
1998820,2021-07-31 23:59:59,9f4d5e3b,110,United States of America,Unfu*k Yourself,Get Out of Your Head and into Your Life,Gary John Bishop,Gary John Bishop,3 hrs and 24 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.6,73022.0,$20.52,2021-07-31 23:59:59

In [ ]:
# แปลงให้จาก timestamp เป็น date ในทั้ง 2 dataframe (transaction, conversion_rate)
transaction['date'] = pd.to_datetime(transaction['date']).dt.date
conversion_rate['date'] = pd.to_datetime(conversion_rate['date']).dt.date
transaction.head()

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,date
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,$35.00,2021-05-01
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,$19.59,2021-05-01
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,$31.50,2021-05-01
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,$19.95,2021-05-01
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,$17.49,2021-05-01

In [ ]:
# รวม 2 dataframe (transaction, conversion_rate) เข้าด้วยกันด้วยคำสั่ง merge
final_df = transaction.merge(conversion_rate, how="left", left_on="date", right_on="date")
final_df

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,date,conversion_rate
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,$35.00,2021-05-01,31.140
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,$19.59,2021-05-01,31.140
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,$31.50,2021-05-01,31.140
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,$19.95,2021-05-01,31.140
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,$17.49,2021-05-01,31.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998816,2021-07-31 23:59:47,72da1411,600,Portugal,The Time of Contempt,"The Witcher, Book 2",Andrzej Sapkowski,Peter Kenny,11 hrs and 55 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,14344.0,$25.08,2021-07-31,32.887
1998817,2021-07-31 23:59:48,620c27c8,462,Montenegro,Endurance,Shackleton's Incredible Voyage,Alfred Lansing,Simon Prebble,10 hrs and 20 mins,Unabridged Audiobook,History,4.7,18764.0,$24.95,2021-07-31,32.887
1998818,2021-07-31 23:59:55,84fe88ab,1656,United States of America,The Spy and the Traitor,The Greatest Espionage Story of the Cold War,Ben Macintyre,John Lee,13 hrs and 20 mins,Unabridged Audiobook,Biographies & Memoirs,4.8,7150.0,$31.95,2021-07-31,32.887
1998819,2021-07-31 23:59:57,fd6cc4fc,522,United States of America,Lilac Girls,A Novel,Martha Hall Kelly,Cassandra Campbell,17 hrs and 30 mins,Unabridged Audiobook,Literature & Fiction,4.7,19401.0,$31.50,2021-07-31,32.887
1998820,2021-07-31 23:59:59,9f4d5e3b,110,United States of America,Unfu*k Yourself,Get Out of Your Head and into Your Life,Gary John Bishop,Gary John Bishop,3 hrs and 24 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.6,73022.0,$20.52,2021-07-31,32.887


* แต่ตอนนี้ column Price เรายังเป็น string (มีเครื่องหมาย $ อยู่ ต้องเอาออก)

* แปลงประเภทตัวแปลง เป็น float เพื่อรองรับ จำนวนที่มีทศนิยม

In [ ]:
final_df["Price"] = final_df.apply(lambda x: x["Price"].replace("$",""), axis=1) #axis = 1 คือทำใน column นั้น ทีละ row
final_df.head()

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,date,conversion_rate
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,35.00,2021-05-01,31.14
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,19.59,2021-05-01,31.14
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,31.50,2021-05-01,31.14
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,19.95,2021-05-01,31.14
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,17.49,2021-05-01,31.14

In [ ]:
final_df["Price"] = final_df["Price"].astype(float)

In [ ]:
final_df.dtypes

timestamp               datetime64[ns]
user_id                         object
book_id                          int64
country                         object
Book Title                      object
Book Subtitle                   object
Book Author                     object
Book Narrator                   object
Audio Runtime                   object
Audiobook_Type                  object
Categories                      object
Rating                          object
Total No. of Ratings           float64
Price                          float64
date                            object
conversion_rate                float64
dtype: object

พอ join ข้อมูลได้แล้ว นำมาคูณ currency conversion
**(Price * convertsion_rate)**

In [ ]:
# เพิ่ม column 'THBPrice' ที่เกิดจาก column Price * conversion_rate
final_df["THBPrice"] = final_df["Price"] * final_df["conversion_rate"]
final_df

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,date,conversion_rate,THBPrice
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,35.00,2021-05-01,31.140,1089.90000
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,19.59,2021-05-01,31.140,610.03260
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,31.50,2021-05-01,31.140,980.91000
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,19.95,2021-05-01,31.140,621.24300
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,17.49,2021-05-01,31.140,544.63860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998816,2021-07-31 23:59:47,72da1411,600,Portugal,The Time of Contempt,"The Witcher, Book 2",Andrzej Sapkowski,Peter Kenny,11 hrs and 55 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,14344.0,25.08,2021-07-31,32.887,824.80596
1998817,2021-07-31 23:59:48,620c27c8,462,Montenegro,Endurance,Shackleton's Incredible Voyage,Alfred Lansing,Simon Prebble,10 hrs and 20 mins,Unabridged Audiobook,History,4.7,18764.0,24.95,2021-07-31,32.887,820.53065
1998818,2021-07-31 23:59:55,84fe88ab,1656,United States of America,The Spy and the Traitor,The Greatest Espionage Story of the Cold War,Ben Macintyre,John Lee,13 hrs and 20 mins,Unabridged Audiobook,Biographies & Memoirs,4.8,7150.0,31.95,2021-07-31,32.887,1050.73965
1998819,2021-07-31 23:59:57,fd6cc4fc,522,United States of America,Lilac Girls,A Novel,Martha Hall Kelly,Cassandra Campbell,17 hrs and 30 mins,Unabridged Audiobook,Literature & Fiction,4.7,19401.0,31.50,2021-07-31,32.887,1035.94050
1998820,2021-07-31 23:59:59,9f4d5e3b,110,United States of America,Unfu*k Yourself,Get Out of Your Head and into Your Life,Gary John Bishop,Gary John Bishop,3 hrs and 24 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.6,73022.0,20.52,2021-07-31,32.887,674.84124

Another Way

In [ ]:
def convert_rate(price, rate):
  return price * rate

# final_df["THBPrice"] = final_df.apply(lambda x: x["Price"] * x["conversion_rate"], axis=1)
final_df["THBPrice"] = final_df.apply(lambda x: convert_rate(x["Price"], x["conversion_rate"]), axis=1)
final_df

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,date,conversion_rate,THBPrice
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,35.00,2021-05-01,31.140,1089.90000
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,19.59,2021-05-01,31.140,610.03260
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,31.50,2021-05-01,31.140,980.91000
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,19.95,2021-05-01,31.140,621.24300
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,17.49,2021-05-01,31.140,544.63860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998816,2021-07-31 23:59:47,72da1411,600,Portugal,The Time of Contempt,"The Witcher, Book 2",Andrzej Sapkowski,Peter Kenny,11 hrs and 55 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,14344.0,25.08,2021-07-31,32.887,824.80596
1998817,2021-07-31 23:59:48,620c27c8,462,Montenegro,Endurance,Shackleton's Incredible Voyage,Alfred Lansing,Simon Prebble,10 hrs and 20 mins,Unabridged Audiobook,History,4.7,18764.0,24.95,2021-07-31,32.887,820.53065
1998818,2021-07-31 23:59:55,84fe88ab,1656,United States of America,The Spy and the Traitor,The Greatest Espionage Story of the Cold War,Ben Macintyre,John Lee,13 hrs and 20 mins,Unabridged Audiobook,Biographies & Memoirs,4.8,7150.0,31.95,2021-07-31,32.887,1050.73965
1998819,2021-07-31 23:59:57,fd6cc4fc,522,United States of America,Lilac Girls,A Novel,Martha Hall Kelly,Cassandra Campbell,17 hrs and 30 mins,Unabridged Audiobook,Literature & Fiction,4.7,19401.0,31.50,2021-07-31,32.887,1035.94050
1998820,2021-07-31 23:59:59,9f4d5e3b,110,United States of America,Unfu*k Yourself,Get Out of Your Head and into Your Life,Gary John Bishop,Gary John Bishop,3 hrs and 24 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.6,73022.0,20.52,2021-07-31,32.887,674.84124

drop column date ที่ซ้ำซ้อนกับ timestamp

**axis = 1 หมายถึง drop column (ถ้า axis=0 จะใช้ drop row)**

In [ ]:
final_df = final_df.drop("date", axis=1)

In [ ]:
final_df

,timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,conversion_rate,THBPrice
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,35.00,31.140,1089.90000
1,2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,19.59,31.140,610.03260
2,2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,31.50,31.140,980.91000
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,19.95,31.140,621.24300
4,2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,17.49,31.140,544.63860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998816,2021-07-31 23:59:47,72da1411,600,Portugal,The Time of Contempt,"The Witcher, Book 2",Andrzej Sapkowski,Peter Kenny,11 hrs and 55 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,14344.0,25.08,32.887,824.80596
1998817,2021-07-31 23:59:48,620c27c8,462,Montenegro,Endurance,Shackleton's Incredible Voyage,Alfred Lansing,Simon Prebble,10 hrs and 20 mins,Unabridged Audiobook,History,4.7,18764.0,24.95,32.887,820.53065
1998818,2021-07-31 23:59:55,84fe88ab,1656,United States of America,The Spy and the Traitor,The Greatest Espionage Story of the Cold War,Ben Macintyre,John Lee,13 hrs and 20 mins,Unabridged Audiobook,Biographies & Memoirs,4.8,7150.0,31.95,32.887,1050.73965
1998819,2021-07-31 23:59:57,fd6cc4fc,522,United States of America,Lilac Girls,A Novel,Martha Hall Kelly,Cassandra Campbell,17 hrs and 30 mins,Unabridged Audiobook,Literature & Fiction,4.7,19401.0,31.50,32.887,1035.94050
1998820,2021-07-31 23:59:59,9f4d5e3b,110,United States of America,Unfu*k Yourself,Get Out of Your Head and into Your Life,Gary John Bishop,Gary John Bishop,3 hrs and 24 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.6,73022.0,20.52,32.887,674.84124

## Save to CSV

In [ ]:
# TODO: save "to csv" file
final_df.to_csv("output.csv", index=False)

In [ ]:
!head output.csv

timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,conversion_rate,THBPrice
2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,35.0,31.14,1089.9
2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,19.59,31.14,610.0326
2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,31.5,31.14,980.91
2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,19.95,31.14,621.2429999999999
2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,17.49,31.14,544.6386
2021-05-01 00:00:21,bbbd603a,1377,United States of America,The Institute,A Novel,Stephen King,Santino Fontana,18 hrs and 59 mins,Unabridged Audiobook,Literature & Fiction,4.6,35443.0,34.99,31.14,1089.5886
2021-05-01 00:00:22,f636754b,342,Canada,A Clash of Kings,"A Song of Ice and Fire, Book 2",George R.R. Martin,Roy Dotrice,37 hrs and 12 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.8,79031.0,63.0,31.14,1961.82
2021-05-01 00:00:26,0eea4bbd,1600,United States of America,Exile,"Legend of Drizzt: Dark Elf Trilogy, Book 2",R. A. Salvatore,Victor Bevine,10 hrs and 42 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,9241.0,24.95,31.14,776.943
2021-05-01 00:00:26,30b900d5,1556,Algeria,Arcanum Unbounded: The Cosmere Collection,,Brandon Sanderson,Michael Kramer,22 hrs and 31 mins,Unabridged Audiobook,Literature & Fiction,4.8,14108.0,48.99,31.14,1525.5486

# การเก็บตัวแปร หรือ password ไว้ใน env ไฟล์

## การสร้างไฟล์ .env จากใน colab
สามารถใช้ `%%writefile ชื่อไฟล์` ตามด้วยเนื้อหาในไฟล์  

หมายเหตุ: ในชีวิตจริง .env จะไม่ได้ถูกเขียนขึ้นจากในโค้ด แต่จะแชร์กันแค่ภายในทีม

In [ ]:
%%writefile .env
MYSQL_HOST='ใส่ host ที่นี่'
MYSQL_PORT= 3306
MYSQL_USER = 'ใส่ user ที่นี่'
MYSQL_PASSWORD = 'ความลับ'
MYSQL_DB = 'ใส่ชื่อ db ที่นี่'
MYSQL_CHARSET = 'utf8mb4'

Writing env

อ่านเชื่อไฟล์ด้วย bash command `cat ชื่อไฟล์`

In [ ]:
!cat .env

MYSQL_HOST='ใส่ host ที่นี่'
MYSQL_PORT= 3306
MYSQL_USER = 'ใส่ user ที่นี่'
MYSQL_PASSWORD = 'ความลับ'
MYSQL_DB = 'ใส่ชื่อ db ที่นี่'
MYSQL_CHARSET = 'utf8mb4'

## การอ่านตัวแปร .env จากไฟล์ง่าย ๆ ด้วย python-dotenv
เริ่มจาก install แพ็คเกจ python-dotenv ก่อน

In [ ]:
!pip install python-dotenv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-dotenv
  Downloading python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.0

เรียกใช้งานและอ่านตัวแปรจาก .env เข้ามา

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()

True

คำสั่ง `load_dotenv()` เป็นการอ่านไฟล์ .env เข้ามาในตัวแปร environment variable แล้วใช้ `os.getenv()` เพื่ออ่านค่าของ variable แต่ละตัวอีกที

In [ ]:
class Config:
  MYSQL_HOST = os.getenv("MYSQL_HOST")
  MYSQL_PORT = int(os.getenv("MYSQL_PORT"))
  MYSQL_USER = os.getenv("MYSQL_USER")
  MYSQL_PASSWORD = os.getenv("MYSQL_PASSWORD")
  MYSQL_DB = os.getenv("MYSQL_DB")
  MYSQL_CHARSET = os.getenv("MYSQL_CHARSET")

In [ ]:
Config.MYSQL_USER

'ใส่ user ที่นี่'

**ข้อควรระวัง** : ทุกครั้งที่มีการอ่าน `os.getenv` ตัวแปรที่มาจาก environment variable จะถูกอ่านมาเป็น string เสมอ ถ้าเป็นประเภทอื่นต้องนำมาแปลงค่าก่อนทุกครั้ง เช่น ใช้ `int()`

In [ ]:
os.getenv("MYSQL_PORT")

'3306'

In [ ]:
int(os.getenv("MYSQL_PORT"))

3306